{% extends 'base.html.twig' %}

{% block body %}
<h1>Hello Ethan</h1>
<ul>
    <li><a href="/admin/dashboard/country">Country</a></li>
    <li><a href="/admin/dashboard/team">Team</a></li>
    <li><a href="/admin/dashboard/championship">Championship</a></li>
    <li><a href="/admin/dashboard/game">Game</a></li>
</ul>

<a href="/logout">Logout ??</a>
{% endblock %}